.metadata/*
**/target/*
Grammars/src/antlr4/prompto/parser/antlr4_parse_tree.png
Grammars/src/antlr4/prompto/parser/antlr4_parse_tree_1.png
Grammars/src/antlr4/prompto/parser/Test.g4
Grammars/src/antlr4/prompto/parser/Test.tokens
Grammars/src/antlr4/prompto/parser/TestBaseListener.class
Grammars/src/antlr4/prompto/parser/TestBaseListener.java
Grammars/src/antlr4/prompto/parser/TestLexer.class
Grammars/src/antlr4/prompto/parser/TestLexer.java
Grammars/src/antlr4/prompto/parser/TestLexer.tokens
Grammars/src/antlr4/prompto/parser/TestListener.class
Grammars/src/antlr4/prompto/parser/TestListener.java
Grammars/src/antlr4/prompto/parser/TestParser$ConstructorContext.class
Grammars/src/antlr4/prompto/parser/TestParser$ExpContext.class
Grammars/src/antlr4/prompto/parser/TestParser$ExprContext.class
Grammars/src/antlr4/prompto/parser/TestParser$InstanceContext.class
Grammars/src/antlr4/prompto/parser/TestParser$IteratorContext.class
Grammars/src/antlr4/prompto/parser/TestParser.class
Grammars/src/antlr4/prompto/parser/TestParser.java
